{"nbformat":4,"nbformat_minor":0,"metadata":{"colab":{"provenance":[],"authorship_tag":"ABX9TyNkbaSNkIxBS9dNk79rXpaj"},"kernelspec":{"name":"python3","display_name":"Python 3"},"language_info":{"name":"python"}},"cells":[{"cell_type":"code","execution_count":5,"metadata":{"id":"jvS2RdN3GYeg","executionInfo":{"status":"ok","timestamp":1746845785173,"user_tz":-180,"elapsed":3,"user":{"displayName":"Esr22 Wajeeh","userId":"16236309021644584069"}}},"outputs":[],"source":["with open(\"requirements.txt\", \"w\") as f:\n","    f.write(\"\"\"streamlit\n","pandas\n","openpyxl\n","easyocr\n","numpy==1.23.5\n","Pillow\n","pyzbar\n","opencv-python\n","\"\"\")\n","\n"]}]}